body {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 800px;
}

@media screen and (min-width: 800px) {
    .container {
    	width: 800px;
    	margin-right: auto;
    	margin-left: auto;
    }
}